body {
    display: flex;
    justify-content: center;
}

#container {
    background-color: white;
    display: inline-block;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

button {
    margin: 0 5px 0 5px;
    color: white;
    border: 0;
    width: 100px;
    height: 30px;
}